<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Image Montage</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="layout">
            <div id="montage" class="free-wall"></div>
        </div>
        <div id="preload" style="display: none" />
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/lodash.min.js"></script>
        <script type="text/javascript" src="js/freewall.min.js"></script>
        <script type="text/javascript" src="js/imagemontage.min.js"></script>
        <script type="text/javascript">
        $(function() {
            function fetchImages(id, cb) {
                new Promise(function(resolve, reject) {
                    $.ajax({
                        method: 'GET',
                        url: 'https://api.imgur.com/3/gallery/random/random/'+id,
                        headers: {
                            Authorization: '{{ CLIENT_ID }}'
                        }
                    }).done(function(data) {
                        resolve(data.data);
                    }).fail(function(xhr, status, err) {
                        reject(err);
                    })
                })
                .then(function(data) {
                    cb(data);
                });
            }

            // init
            var im = new ImageMontage('#montage');

            var id = 0;
            fetchImages(++id, data => im.initBricks(data));

            // reload every 60s
            setInterval(() => {
                for (var i = 1; i < window.setInterval("", 9999); i++)
                    window.clearInterval(i);
                fetchImages(++id, data => im.displayImages(data));
            }, 60000);

        });
        </script>
    </body>
</html>
