<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Image Montage</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="layout">
            <div id="container" class="free-wall"></div>
        </div>
        <div id="preload" style="display: none" />
        <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="js/lodash.min.js"></script>
        <script type="text/javascript" src="js/freewall.min.js"></script>
        <script type="text/javascript">
        $(function() {
            var $container = $('#container');
            var imageMontage = {
                init: function() {
                    var temp = "<div class='brick' style='width:{width}px; height: {height}px; background-color: {color}'><div class='cover'></div></div>";
                    var colour = [
                        "lightblue",
                        "lightcyan",
                        "lightcoral",
                        "lightpink",
                        "lightgrey",
                        "lightgreen",
                        "lightsalmon",
                        "lightskyblue",
                        "lightseagreen"
                    ];

                    var w = 1, h = 1, html = '', color = '', limitItem = 35;
                    for (var i = 0; i < limitItem; ++i) {
                        h = 1 + 2 * Math.random() << 0;
                        w = 2 + 2 * Math.random() << 0;
                        color = colour[colour.length * Math.random() << 0];
                        html += temp.replace(/\{height\}/g, h*150).replace(/\{width\}/g, w*150).replace("{color}", color);
                    }
                    $container.html(html);
                    this.freewall();

                    var counter = 1;
                    this.fetchImages(counter);
                    setInterval(() => {
                        counter ++;
                        for (var i = 1; i < window.setInterval("", 9999); i++)
                            window.clearInterval(i);
                        this.fetchImages(counter);
                    }, 60000);
                },
                extractLinks: function(data) {
                    var arr = [];
                    _.map(data, function(val) {
                        if(val.type) {
                            arr.push(val.link);
                        }
                    });
                    return arr;
                },
                preloadImage: function(arr) {
                    $("#preload").html("");
                    _.map(arr, function(val) {
                        $("#preload").append("<img src='"+val+"' />");
                    });
                },
                freewall: function() {
                    var wall = new Freewall('#container');
                    wall.reset({
                        selector: '.brick',
                        gutterX: 15,
                        gutterY: 15,
                        onResize: function() {
                            wall.fitZone($(window).width() - 30, $(window).height() - 30);
                        },
                        onComplete: function() {
                            $.each($(".brick img"), function(i, val) {
                                var pWidth = $(val).parent().css("width");
                                var pHeight = $(val).parent().css("height");

                                $(val).attr("style", "width: "+pWidth);
                                if(
                                    parseInt($(val).css("height"), 10) < parseInt(pHeight, 10)
                                ) {
                                    $(val).attr("style", "height: "+pHeight);
                                }
                                $(val).parent().fadeIn(500);
                            });
                        }
                    });
                    wall.fitZone($(window).width() - 30, $(window).height() - 30);
                },
                fetchImages: function(i) {
                    var self = this;
                    new Promise(function(resolve, reject) {
                        $.ajax({
                            method: 'GET',
                            url: 'https://api.imgur.com/3/gallery/random/random/'+i,
                            headers: {
                                Authorization: '{{ CLIENT_ID }}'
                            }
                        }).done(function(data) {
                            resolve(data.data);
                        }).fail(function(xhr, status, err) {
                            reject(err);
                        })
                    })
                    .then(function(data) {
                        var srcs = self.extractLinks(data);
                        self.preloadImage(srcs);
                        var arr = $(".cover");
                        var i = setInterval(function() {
                            var $target = $(arr.splice(0, 1));
                            var pWidth = parseInt($target.parent().css("width"), 10);
                            var pHeight = parseInt($target.parent().css("height"), 10);
                            var $img =
                                $("<img class='cover' />")
                                    .prop('src', srcs.shift())
                                    .load(function() {
                                        var nWidth = $(this).prop('naturalWidth');
                                        var nHeight = $(this).prop('naturalHeight');

                                        $(this).attr("style", "width: "+pWidth);
                                        if(nHeight*pWidth/nWidth < pHeight) {
                                            $(this).attr("style", "height: "+pHeight+"px");
                                        }
                                        self.freewall();
                                    });
                            $target
                                .parent()
                                .fadeOut(500, function() {
                                    $target.replaceWith($img);
                                })
                                .fadeIn(500);
                            arr.length === 0 && clearInterval(i);
                        }, 3000);
                    });
                }
            };
            imageMontage.init();
        });
        </script>
    </body>
</html>
